/***** NAVBAR *****/

.navbar {
    background-color: #333a30;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9ace84;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 16px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #863ee3;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #74cf4d;
    color: #242424;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.test {
    background-image: url("../assets/jumbo1crop.jpg");
    /* background-image: url("../assets/resume1-banner.jpeg"); */
    background-size: cover;
    text-align: center;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: normal;
    color: #333a30;
    
    padding: 8%;
    border-radius: 0px;
}

.resume_pdf {
    text-align: center;
    margin: 40px 0;

}

.resume_container {
    background-image: url("../assets/tall_resume.jpeg");
    /* background-image: url("../assets/resume1-banner.jpeg"); */
    background-position: right;
    background-size: cover;
    text-align: left;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: normal;
    color: #242424;
    
    padding: 8%;
    border-radius: 0px;
}

.contact_background {
    /* background-image: url("../assets/mountain_sunset.png"); */
    /* background-image: url("../assets/resume1-banner.jpeg"); */
    /* background-position: */
    /* background-size: cover; */
    text-align: left;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: normal;
    color: #242424;
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    /* padding: 8%; */
    border-radius: 0px;
}

.contact_banner {
    background-image: url("../assets/mountain_band.png");
    /* background-image: url("../assets/resume1-banner.jpeg"); */
    background-size: cover;
    text-align: center;
    font-family: 'Helvetica', 'sans-serif';
    font-weight: normal;
    color: #fff;
    
    padding: 8%;
    border-radius: 0px;
}



.jumbotron h2 {
    /* display: inline-block; */
    /* padding: 5px 10px; */
    font-family: 'Helvetica', 'sans-serif';
    font-size: 36px;
    font-weight: normal;
    /* background-color: rgba(255, 255, 255, 0.4); */
}

.img-responsive{
    width:100%;
    height:auto;
}

/*** CARD ***/

.card {
    background-color: #fff;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
}

/* .card-container {
    padding: 10px;
    height: 500px
} */

.green_button {
    background-color: #74cf4d;
    border-color: #74cf4d;
    color: #242424;
}

.green_button:hover {
    background-color: #9ace84;
    border-color: #9ace84;
    color: #242424;
}   

.portfolio-title {
    margin-top: 30px;

}

.card:hover {
    border-color: #9ace84;
    box-shadow: 0 4px 8px rgb(51, 58, 48, 0.4);
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

/* h3 {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 32px;
    color:#fff
    /* background-color: rgba(255, 255, 255, 0.2); */
/* } */ */

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

h2 {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 32px;
    font-weight: bold;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

h3 {
    font-size: 20px;
    /* font-weight: bold; */
    /* margin-bottom: -20px; */
    /* background-color: rgba(255, 255, 255, 0.2); */
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom:  -20px;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -20px;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

p {
    font-size: 18px;
    font-weight: semi-bold;
    /* background-color: rgba(255, 255, 255, 0.2); */
}

a {
    color: #863ee3;
}

a:hover {
    color: #ebd122;
}

.inner-container{
    display: inline-block;
    /* display: inline-block; */
    padding: 5px 10px;
    /* padding:25px 0; */
    background-color: rgba(255, 255, 255, 0.5);
}

.row_padding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-container{
    display: inline-block;
    /* display: inline-block; */
    padding: 25px 35px;
    /* padding:25px 0; */
    background-color: rgba(255, 255, 255, 0.7);
}

.contact-container{
    display: inline-block;
    position:absolute;
    top: 100px;
    left: 30px;
    /* display: inline-block; */
    /* padding: 25px 35px; */
    padding:10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

body {

    font-family: 'Helvetica', sans-serif;
    background-color: #f7f1fa;
    color: #242424;
}